html{font-size: 100%;}html::-webkit-scrollbar{margin-top: 15px;
  margin-right: 10px;
  width: 10px;
  z-index: 3;}html::-webkit-scrollbar *{background:transparent;}html::-webkit-scrollbar-track{display: none;}html::-webkit-scrollbar-thumb{background-color: #dfdfdf !important;
  border-radius: 5px;}body{background-attachment: fixed;
  background-color: #ffffff;
  color: #6f7074;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.642;
  overflow-x: hidden;
  transition: inherit;
  -webkit-font-smoothing: antialiased;}img{max-width: 100%;}p{font-size: 15px;
  font-weight: 400;}ul,ol{list-style: none;
  margin: 0;
  padding: 0;}iframe{border: none;
  width: 100%;}a{color: #555555;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;}a:hover,a:focus{color: #333333;
    text-decoration: none;
    outline: none;}a img{border: none;}iframe{border: none;}::selection{background: #222222;
  color: #ffffff;
  text-shadow: none;}::-moz-selection{/* Firefox */
  background: #222222;
  color: #ffffff;
  text-shadow: none;}::-webkit-selection{/* Safari */
  background: #222222;
  color: #ffffff;
  text-shadow: none;}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3{font-family: 'Nunito', sans-serif;
  line-height: 1.42857;
  color: #0a0a0a;}h1 small,h1 .small,h2 small,h2 .small,h3 small,h3 .small,h4 small,h4 .small,h5 small,h5 .small,h6 small,h6 .small,.h1 small,.h1 .small,.h2 small,.h2 .small,.h3 small,.h3 .small{font-weight: normal;
    line-height: 1;
    color: #0a0a0a;
    font-weight: 400;}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.h1 a,.h2 a,.h3 a{color: #0a0a0a;
    font-weight: 400;}h1,h2,h3,h4
.h1,.h2,.h3{font-weight: 700;}h5,h6{font-weight: 400;}h1,.h1{font-size: 36px;}h2,.h2{font-size: 30px;}h3,.h3{font-size: 24px;}h4{font-size: 18px;}h5{font-size: 15px;}h6{font-size: 12px;}p,ul,ol,dl,dt,dd,blockquote,address{margin: 0 0 10px;}.form-control{font-size: 14px;
  font-family: 'Nunito', sans-serif;
  padding: 0 20px;}.modal-backdrop{display: none;}.cart{align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  position: relative;}.cart > li{cursor: pointer;
  font-size: 14px;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;}.cart > li:hover .dropdown_content{opacity: 1;
  visibility: visible;
  z-index: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);}.cart > li:hover .dropdown_content:before{background-color: #ffffff;
  content: "";
  height: 17px;
  position: absolute;
  top: -7px;
  width: 17px;
  right: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);}.dropdown_content{background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
  display: flex;
  flex-direction: column;
  margin: 0;
  opacity: 0;
  padding: 30px 30px 10px 30px;
  position: absolute;
  right: 0;
  top: 50px;
  -webkit-transform: translate(0, -60px);
  -moz-transform: translate(0, -60px);
  -o-transform: translate(0, -60px);
  transform: translate(0, -60px);
  transition: opacity 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
  transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s ease-out;
  visibility: hidden;
  width: 414px;
  z-index: -1;}.dropdown_content > li:first-child{padding-top: 0;}.dropdown_content > li{border-bottom: 1px solid #dedede;
  cursor: pointer;
  font-size: 14px;
  padding: 20px 0;}.dropdown_content > li:last-child{border-bottom: none;}.search_overlay{height: 100%;
  width: 100%;}.mk-search-trigger{margin-left: 15px;
  position: absolute;
  top: 25px;}.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform input[type=submit],.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper2 #mk-fullscreen-searchform2 input[type=submit]{position: absolute;
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: 0;
  right: 0;
  top: 0;}#mk-fullscreen-searchform:focus,#mk-fullscreen-searchform2:focus{outline: none;
  border: none;}.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform .fullscreen-search-icon,.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper2 #mk-fullscreen-searchform2 .fullscreen-search-icon{font-size: 25px;
  position: absolute;
  right: 15px;
  width: 25px;
  top: 15px;
  color: #0a0a0a;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;}.fullscreen-search-icon:hover,.fullscreen-search-icon:focus{border: none;
  outline: none;
  -webkit-transition: transform ease-out .2s;
  -moz-transition: transform ease-out .2s;
  -ms-transition: transform ease-out .2s;
  -o-transition: transform ease-out .2s;
  transition: transform ease-out .2s;}#mk-fullscreen-searchform,#mk-fullscreen-searchform2{position: relative;
  vertical-align: middle;}.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input,.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper2 #mk-fullscreen-searchform2 #mk-fullscreen-search-input2{background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  color: #262626;
  font-size: 17px;
  padding: 20px;
  width: 800px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;}.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input:focus,.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper2 #mk-fullscreen-searchform2 #mk-fullscreen-search-input2:focus{border: none;
  outline: none;}.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show{visibility: visible;
  opacity: 1;}.mk-fullscreen-search-overlay{width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .94);
  text-align: center;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;}.mk-fullscreen-search-overlay{-webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);}.mk-fullscreen-search-overlay{z-index: 99999;}.mk-fullscreen-search-overlay .mk-fullscreen-close:link,.mk-fullscreen-search-overlay .mk-fullscreen-close:visited{color: #fff;}.mk-fullscreen-search-overlay .mk-fullscreen-close{position: absolute;
  right: 50px;
  top: 70px;
  font-size: 26px;
  -webkit-transition: transform ease-out .2s;
  -moz-transition: transform ease-out .2s;
  -ms-transition: transform ease-out .2s;
  -o-transition: transform ease-out .2s;
  transition: transform ease-out .2s;}.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show #mk-fullscreen-search-wrapper,.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show #mk-fullscreen-search-wrapper2{opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  ms-transform: scale(1);}.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper,.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper2{display: inline-block;
  max-width: 1000px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  ms-transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;}.mk-search-trigger{-webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out}#search-button,#search-button2{cursor: pointer;
  opacity: 1;
  position: relative;
  vertical-align: middle;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;}#search-button i,#search-button2 i{color: #ffffff;
  font-size: 22px;}nav .menu li a{display: block;
  padding: 20px 25px;
  text-decoration: none;
  color: #3a3a3a;}nav .menu li.active > a,nav .menu li a:hover{color: #e74c3c;}nav button{background: transparent;
  border: none;
  outline: none;}header.header-nav{padding: 0 50px;}header.header-nav a.navbar_brand{display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-right: 37px;
  margin-top: 20px;
  position: relative;}header.header-nav a.navbar_brand:before{background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  content: "";
  height: 50px;
  position: absolute;
  right: -25px;
  top: 0;
  width: 1px;}.menu_style_home_one.stricky-fixed{background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);}header.header-nav a.navbar_brand .logo2{display: none;}header.header-nav.menu_style_home_one{border-bottom: 1px solid rgba(255, 255, 255, 0.2);}header.header-nav.menu_style_home_one.navbar-scrolltofixed.stricky.animated{-webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;}header.header-nav.menu_style_home_one  a.navbar_brand{margin-top: 15px;}header.header-nav.menu_style_home_one.stricky-fixed a.navbar_brand .logo1{display: none;}header.header-nav.menu_style_home_one.stricky-fixed a.navbar_brand .logo2{display: inline-block;}header.header-nav.menu_style_home_one a.navbar_brand span{color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  padding-left: 15px;
  text-transform: uppercase;
  vertical-align: middle;}header.header-nav.menu_style_home_one.stricky-fixed a.navbar_brand:before{background-color: #dadada;}header.header-nav.menu_style_home_one.stricky-fixed .ace-responsive-menu > li > a.active span,header.header-nav.menu_style_home_one.stricky-fixed .ace-responsive-menu li a.active span,header.header-nav.menu_style_home_one.stricky-fixed .ace-responsive-menu li a,header.header-nav.menu_style_home_one.stricky-fixed a.navbar_brand span,header.header-nav.menu_style_home_one.stricky-fixed #search-button i{color: #0a0a0a;}header.header-nav.menu_style_home_one .ace-responsive-menu li a{color: #ffffff;
  font-family: 'Nunito', sans-serif;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu{background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 0;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
  -moz-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
  -o-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
  box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);}header.header-nav.menu_style_home_one .ace-responsive-menu > li:first-child ul.sub-menu,header.header-nav.menu_style_home_one .ace-responsive-menu > li:nth-child(2) ul.sub-menu{margin-left: 0;}header.header-nav.menu_style_home_one .ace-responsive-menu > li:first-child ul.sub-menu:before,header.header-nav.menu_style_home_one .ace-responsive-menu > li:nth-child(2) ul.sub-menu:before{left: 25px;}header.header-nav.menu_style_home_one .ace-responsive-menu li:nth-child(2) ul.sub-menu li ul.sub-menu,header.header-nav.menu_style_home_one .ace-responsive-menu li:nth-child(3) ul.sub-menu li ul.sub-menu,header.header-nav.menu_style_home_one .ace-responsive-menu li:nth-child(4) ul.sub-menu li ul.sub-menu,header.header-nav.menu_style_home_one .ace-responsive-menu li:nth-child(5) ul.sub-menu li ul.sub-menu{left: 260px;}header.header-nav.menu_style_home_one .ace-responsive-menu > li > ul.sub-menu{margin-left: -180px;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu{padding-left: 0 !important;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu:before{background-color: #ffffff;
  content: "";
  height: 17px;
  right: 25px;
  position: absolute;
  top: -7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 17px;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu li{background-color: #ffffff;
  border-radius: 5px;
  padding: 0 30px;
  width: 260px;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu li ul.sub-menu:before{display: none;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu li a{border-bottom: 1px solid #dedede;
  color: #0a0a0a;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu li:last-child a{border-bottom: none;}header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu li a:hover,header.header-nav.menu_style_home_one .ace-responsive-menu li ul.sub-menu li ul.sub-menu{color: #c75533;
  padding-left: 7px;
  box-shadow: none !important;}header.header-nav.menu_style_home_one .ace-responsive-menu > li > a{font-family: 'Nunito', sans-serif;
  padding: 30px 35px 30px 10px;
  text-transform: uppercase;}.stylehome1 .mm-navbar{font-family: 'Nunito', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;}.stylehome1 .mm-navbar,.stylehome1 .mm-panel{background-color: #0a0a0a;}.stylehome1 a.mm-listitem__text,.stylehome1 a.mm-btn.mm-btn_next.mm-listitem__btn.mm-listitem__text{font-family: 'Nunito', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;}.stylehome1 a.mm-listitem__text:hover,.stylehome1 a.mm-btn.mm-btn_next.mm-listitem__btn.mm-listitem__text:hover{background-color: #1c1c1c;
  color: #ffffff;}.stylehome1 li.mm-listitem:hover,.stylehome1 li.mm-listitem:active,.stylehome1 li.mm-listitem:focus{color: #ffffff;}.stylehome1 .mm-navbar{border-color: #545454;
  background-color: #2d2d2d;
  height: 60px;
  line-height: 40px;}.stylehome1 .mm-btn_prev:before,.stylehome1 .mm-btn_next:after{border-color: rgba(255,255,255,.8);}.home1-mainslider{margin-top: -1px;
  width: 100%;}.home1-mainslider .banner-style-one .slide:before,.home1-mainslider .banner-style-two .slide:before{background-image: -moz-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;}.home1-mainslider .banner-style-one .banner-title{font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;}.home1-mainslider .home-content{padding-top: 150px;}.home_iconbox_container{margin-bottom: 120px;
  margin-top: -240px;}.animated{-webkit-animation-duration :3s;
  animation-duration :3s;
  -webkit-animation-delay :500ms;
  animation-delay :500ms;}.home5_slider.owl-carousel.owl-theme .owl-dots .owl-dot span{background-color: #e4e3e1;
  display: none;
  height: 8px;
  width: 8px;}.home5_slider.owl-carousel.owl-theme .owl-dots .owl-dot.active span{background-color: #ffffff;
  height: 15px;
  width: 15px;}.mouse_scroll{position: relative;}.mouse_scroll:before{border-radius: 50%;
  border: 2px solid #ffffff;
  bottom: 43px;
  content: "";
  height: 92px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 92px;
  z-index: 0;}.mouse_scroll:after{border-radius: 50%;
  border: 2px solid #ffffff;
  bottom: 25px;
  content: "";
  height: 129px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 129px;
  z-index: 9;}.mouse_scroll .icon{background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 60px;
  left: 50%;
  line-height: 60px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: -90px;
  transform: translate(-50%, -50%);
  width: 60px;
  z-index: 3 !important;
  -webkit-box-shadow:0px 0px 50px 0px rgba(32, 32, 32, 0.15);
  -moz-box-shadow:0px 0px 50px 0px rgba(32, 32, 32, 0.15);
  box-shadow:0px 0px 50px 0px rgba(32, 32, 32, 0.15);}.mouse_scroll .icon span{color: #ff1053;
  font-size: 16px;}.main-banner-wrapper{position: relative;}@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){.main-banner-wrapper{overflow: hidden;}}.main-banner-wrapper .carousel-btn-block{cursor: pointer;
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 0;}.main-banner-wrapper .carousel-btn-block .carousel-btn{color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  vertical-align: middle;
  z-index: 9;}.main-banner-wrapper .carousel-btn-block .carousel-btn:hover{opacity: 1;}.main-banner-wrapper .carousel-btn-block .carousel-btn.left-btn{margin-left: 10px;
  position: absolute;
  left: 70px;}.main-banner-wrapper .carousel-btn-block .carousel-btn.left-btn i{margin-right: 15px;}.main-banner-wrapper .carousel-btn-block .carousel-btn.right-btn{margin-right: 10px;
  position: absolute;
  right: 70px;}.main-banner-wrapper .carousel-btn-block .carousel-btn.right-btn i{margin-left: 15px;}.main-banner-wrapper .carousel-btn-block .carousel-btn span.left,.main-banner-wrapper .carousel-btn-block .carousel-btn span.right{font-size: 16px;
  display: -webkit-inline-box;
  position: relative;
  vertical-align: middle;
      font-family: 'Nunito', sans-serif;}.banner-style-one .slide,.banner-style-two .slide{padding: 165px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;}.banner-style-two .slide{padding: 430px 0 290px;}.banner-style-one .slide:before,.banner-style-two .slide:before{background-color: rgba(0,0,0,.7);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;}.banner-style-one .owl-nav,.banner-style-two .owl-nav{display: none;}.banner-style-one h3,.banner-style-one p,.banner-style-two h3,.banner-style-two p{margin: 0;}.banner-style-one .banner-title,.banner-style-two .banner-title{color: #FFFFFF;
  font-size: 50px;
  font-weight: 700;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;}.banner-style-one .banner-title,.banner-style-two .banner-title{font-weight: normal;
  text-transform: uppercase;}.banner-style-one p,.banner-style-two p{font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 300;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  font-family: 'Nunito', sans-serif;}.banner-style-two p{margin: 0 auto;
  max-width: 410px;}.banner-style-one .banner-btn{display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 18px;
  padding: 19.5px 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  margin-top: 20px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;}.banner-style-one .banner-btn:hover{background-color: #ffffff;
  color: #2D174F;}.banner-style-one .active .banner-title,.banner-style-two .active .banner-title{-webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;}.banner-style-one .active p,.banner-style-two .active p{-webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;}.banner-style-one .active .banner-btn{border:2px solid #ffffff;
  border-radius:27px;
  color:#ffffff;
  font-family: 'Nunito', sans-serif;
  font-size:16px;
  padding:12px 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;}.banner-style-one .active .banner-btn:hover,.banner-style-one .active .banner-btn:active,.banner-style-one .active .banner-btn:focus{background-color:#ffffff;
  color:#2441e7;}.banner-style-one .owl-dots,.banner-style-two .owl-dots{display: none !important;
  margin: 0;
  position: absolute;
  bottom: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1170px;
  text-align: center;}.banner-style-one .owl-dots .owl-dot span,.banner-style-two .owl-dots .owl-dot span{background-color: #949493;
  width: 8px;
  height: 8px;
  margin: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;}.banner-style-one .owl-dots .owl-dot + .owl-dot,.banner-style-two .owl-dots .owl-dot + .owl-dot{margin-left: 7px;}.banner-style-one .owl-dots .owl-dot.active span,.banner-style-two .owl-dots .owl-dot.active span{height: 13px;
  width: 13px;
  background-color: #ffffff;}.home_icon_box{position: relative;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}.home_icon_box .icon{margin-bottom: 10px;}.home_icon_box:hover{opacity: .5;
  margin-top: -10px;}.home_icon_box p{color: #ffffff;
  font-family: "Nunito";
  font-size: 16px;
  margin-bottom: 0;}.divider-btn{line-height: 40px;}.img_hvr_box{-webkit-background-size: cover;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 60px 30px 55px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}.img_hvr_box:before{background-color: rgba(10, 10, 10, .5);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}.img_hvr_box:hover{cursor: pointer;
  margin-top: -10px;}.img_hvr_box:hover:before{background-color: rgba(36, 65, 231, .8);}.img_hvr_box .overlay .details{display: block;
  position: relative;}.img_hvr_box .overlay .details h5,.img_hvr_box .overlay .details p{color: #ffffff;
  margin-bottom: 0;}.img_hvr_box .overlay .details h5{font-size: 18px;
  font-weight: bold;}.img_hvr_box .overlay .details p{font-size: 15px;}.courses_all_btn .btn{border: 2px solid;
  border-radius: 25px;
  font-size: 15px;
  height: 50px;
  line-height: 47px;
  margin-top: 30px;
  padding: 0 60px;}.funfact_one .icon{color: #ffffff;
  font-size: 70px;
  line-height: initial;}.funfact_one .details ul{margin-bottom: 0;}.funfact_one .details .timer,.funfact_one .details ul li{color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-right: -2px;}.funfact_one .details ul li:last-child{margin: 0;}.funfact_one .details h5{color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;}.funfact_one .timer{color: #ffffff;
  font-size: 25px;}.funfact_one p{margin-bottom: 0;}.brdr_left_right{position: relative;}.brdr_left_right:before{background-color: #383838;
  bottom: 0;
  content: "";
  height: 40px;
  left: -30px;
  position: absolute;
  top: 25px;
  width: 1px;}.footer_one{padding: 80px 0;}.footer_middle_area{border-top: 1px solid #383838;}.footer_middle_area,.footer_one{background-color: #151515;}.footer_bottom_area{background-color: #0a0a0a;}.copyright-widget p{margin-bottom: 0;
  font-size: 13px;}.footer_contact_widget p{color: #969696;
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 0;}.footer_contact_widget h4,.footer_company_widget h4,.footer_program_widget h4,.footer_support_widget h4,.footer_apps_widget h4{color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;}.footer_contact_widget li a,.footer_company_widget li a,.footer_program_widget li a,.footer_support_widget li a{color: #9e9e9e;
  font-size: 13px;
  line-height: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}.footer_contact_widget li:hover a,.footer_company_widget li:hover a,.footer_program_widget li:hover a,.footer_support_widget li:hover a{color: #ffffff;
  padding-left: 10px;}.logo-widget{position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;}.logo-widget span{color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  vertical-align: middle;}.footer_menu_widget ul{margin-bottom: 0;}.footer_menu_widget ul li{padding-right: 25px;
  vertical-align: middle;
  padding-top: 7px;}.footer_menu_widget ul li a{color: #969696;
  font-size: 13px;
      -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;}.footer_menu_widget ul li a:hover{color: #ffffff;}.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active,.show>.btn-light.dropdown-toggle{background-color: transparent;
  box-shadow: none;
  color: #ffffff;}.inner_page_breadcrumb{background-image: url(../images/background/inner-pagebg.jpg);
  background-repeat: no-repeat;
  height: 400px;
  margin-top: -1px;
  position: relative;}.inner_page_breadcrumb:before{content: "";
  background-image: -moz-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0px;}.inner_page_breadcrumb .breadcrumb_content{margin-top: 150px;}.inner_page_breadcrumb .breadcrumb_content .breadcrumb{background-color: transparent;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  padding-top: 5px;}.inner_page_breadcrumb .breadcrumb_title{color: #ffffff;
  font-size: 35px;
  margin-bottom: 0;
  text-transform: uppercase;}.inner_page_breadcrumb .breadcrumb_title li:first-child{color: #7f7f7f;}.inner_page_breadcrumb .breadcrumb_title li:last-child{color: #221f1f;}.inner_page_breadcrumb .breadcrumb-item a,.inner_page_breadcrumb .breadcrumb-item.active,.inner_page_breadcrumb .breadcrumb-item+.breadcrumb-item::before{color: #ffffff;
  text-transform: capitalize;}.tes-for{float: left;
  margin: 0;
  padding-top: 30px;
  position: relative;
  text-align: center;
  width: 100%;}.tes-nav{float: left;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;}.tes-nav img{float: none;
  display: inline-block;    
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 0;}.tes-nav .slick-slide.slick-current.slick-active.slick-center img{width: 80px;
  height: 80px;
  margin: 0;
  border: 3px solid #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}.testimonial_slider_home2.owl-theme .owl-dots .owl-dot span{background-color: #c7c7c7;
  border-radius: 50%;
  height: 8px;
  margin-bottom: 0;
  width: 8px;}.testimonial_slider_home2.owl-theme .owl-dots .owl-dot.active span{background-color: #0a0a0a;
  border-radius: 50%;
  height: 13px;
  width: 13px;}.blog_post{border-radius: 5px;
  overflow: hidden;
  position: relative;}.blog_post .thumb{display: grid;
  overflow: hidden;
  position: relative;}.blog_post .thumb img{-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}.blog_post:hover .thumb img{-webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 0;}.blog_post.one .thumb .post_title{font-size: 5vw;
  color: #ffffff;
  left: 20px;
  opacity: .15;
  position: absolute;
  top: 0;}.blog_post.one .thumb .post_date{background-color: #ffffff;
  border-radius: 5px;
  left: auto;
  padding: 15px;
  right: 30px;
  text-align: center;}.blog_post.one .thumb .post_date span{color: #0a0a0a;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: table-caption;
  line-height: 22px;}.blog_post .thumb .post_date{color: rgba(255,255,255, .8);
  font-size: 13px;
  left: 30px;
  position: absolute;
  top: 30px;
  z-index: 9;}.blog_post.one .thumb:before{background-color: rgba(25, 38, 117, .7);
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;}.blog_post .thumb:before{background-color: rgba(0,0,0, .6);
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;}.blog_post.one .details .post_meta{position: relative;}.blog_post.one .details .post_meta ul li{margin-right: 30px;}.blog_post.one .details .post_meta ul li:last-child{margin-right: 0;}.blog_post.one .details .post_meta ul li a{color: #ffffff;
  font-size: 14px;}.blog_post.one .details .post_meta ul li a i{font-size: 16px;
  margin-right: 10px;}.blog_post .details{bottom: 20px;
  left: 30px;
  position: absolute;
  z-index: 9;}.blog_post .details h4{font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  width: 90%;}.blog_post .details h4{color: #ffffff;}.blog_post .details h5{color: rgba(255,255,255, .8);
  font-size: 14px;}.blog_slider_home1.owl-carousel.owl-theme.owl-loaded .owl-prev{background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  left: 20px;
  position: absolute;
  top: 40%;}.blog_slider_home1.owl-carousel.owl-theme.owl-loaded .owl-next{background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  right: 20px;
  position: absolute;
  top: 40%;}.read_more_home a{color: #c75533;}.team_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.shop_product_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.feature_post_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.single_product_slider.owl-carousel.owl-theme.owl-loaded .owl-prev{left: -85px;}.single_product_slider.owl-carousel.owl-theme.owl-loaded .owl-prev{left: 20px;}.team_slider.owl-carousel.owl-theme.owl-loaded .owl-next,.shop_product_slider.owl-carousel.owl-theme.owl-loaded .owl-next,.feature_post_slider.owl-carousel.owl-theme.owl-loaded .owl-next{right: -85px;}.single_product_slider.owl-carousel.owl-theme.owl-loaded .owl-next{right: 20px;}.team_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.team_slider.owl-carousel.owl-theme.owl-loaded .owl-next,.shop_product_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.shop_product_slider.owl-carousel.owl-theme.owl-loaded .owl-next,.feature_post_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.feature_post_slider.owl-carousel.owl-theme.owl-loaded .owl-next,.single_product_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.single_product_slider.owl-carousel.owl-theme.owl-loaded .owl-next{background-color: #ffffff !important;
  color: #2441e7;
  height: 50px;
  line-height: 45px;
  position: absolute;
  top: 40%;
  width: 50px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);  /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}.team_slider.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.team_slider.owl-carousel.owl-theme.owl-loaded .owl-next:hover,.shop_product_slider.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.shop_product_slider.owl-carousel.owl-theme.owl-loaded .owl-next:hover,.feature_post_slider.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.feature_post_slider.owl-carousel.owl-theme.owl-loaded .owl-next:hover,.single_product_slider.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.single_product_slider.owl-carousel.owl-theme.owl-loaded .owl-next:hover{background-color: #2441e7 !important;
  color: #ffffff;}.our_partner{text-align: center;}.our-error{position: relative;
  padding: 80px 0 127px;
  height: 100vh !important;
  background-size: cover;}.our-error:before{background-image: -moz-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(255,16,83) 0%, rgb(52,82,255) 100%);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.851;
  position: absolute;
  right: 0;
  top: 0;}.logo-widget.error_paged{padding-left: 30px;}.erro_code h1{color: #ffffff;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 10.450vw;
  line-height: 1.2;
  margin-bottom: -10px;
  text-transform: uppercase;}.error_page.footer_apps_widget{position: relative;
  margin-bottom: 25px;
  margin-top: 130px;}.error_page.footer_apps_widget h4{font-size: 35px;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 15px;}.error_page.footer_apps_widget p{color: #ffffff;
  line-height: 30px;
  margin: 0 auto 50px;
  max-width: 885px;
  font-family: Nunito;
  font-size: 16px;}.shortcode_widget_buttons{margin-bottom: 50px;}.shortcode_widget_buttons .ui_kit_button button{margin-right: 10px;}.shortcode_widget_buttons .ui_kit_button button:last-child{margin-right: 0;}.shortcode_widget_buttons h4{font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;}.ui_kit_button .btn{border-radius: 4px;
  height: 55px;
  width: 170px;}legend{display: block;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 8px;}legend span{font-weight: 400;
  font-size: 14px;
  color: #444;}.simplebar-placeholder{max-height: 355px !important;
  width: 325px !important;}.testimonial_slider_home3.owl-carousel.owl-theme .owl-dots .owl-dot{background-color: #c7c7c7;
  border-radius: 20px;
  height: 8px;
  margin-left: 10px;
  width: 8px;}.testimonial_slider_home3.owl-carousel.owl-theme .owl-dots .owl-dot.active{background-color: #0a0a0a;
  height: 13px;
  width: 13px;}.testimonial_slider_home3.owl-carousel.owl-theme .owl-dots .owl-dot span{display: none;}.testimonial_slider_home3.owl-carousel.owl-theme .owl-dots .owl-dot.active span,.testimonial_slider_home3.owl-carousel.owl-theme .owl-dots .owl-dot:hover span{background-color: #1c327e;
  height: 13px;
  width: 13px;}.blog_post_slider_home2.owl-theme .owl-dots .owl-dot span,.instructor_slider_home3.owl-theme .owl-dots .owl-dot.active span{background-color: #c7c7c7;
  border-radius: 50%;
  height: 8px;
  width: 8px;}.blog_post_slider_home2.owl-theme .owl-dots .owl-dot.active span,.instructor_slider_home3.owl-theme .owl-dots .owl-dot.active span{background-color: #0a0a0a;
  border-radius: 50%;
  height: 13px;
  width: 13px;}.popular_course_slider.owl-carousel.owl-theme.owl-loaded .owl-prev,.popular_course_slider.owl-carousel.owl-theme.owl-loaded .owl-next,.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-prev,.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-next,.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-prev,.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-next{background-color: #ffffff !important;
  color: #1c327e;
  height: 50px;
  line-height: 45px;
  position: absolute;
  top: 175px;
  width: 50px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}.popular_course_slider_home3 .item{margin: 0 7px 30px;}.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-prev,.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-next{background-color: #051925 !important;
  color: #ffffff;
  border-radius: 50%;}.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-next:hover{background-color: #369fdb !important;
  color: #ffffff;}.testimonial_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-prev{left: -60px;}.popular_course_slider.owl-carousel.owl-theme.owl-loaded .owl-prev{left: -90px;}.popular_course_slider.owl-carousel.owl-theme.owl-loaded .owl-next{right: -90px;}.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-prev{left: 30px;}.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-next{right: 30px;}.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-prev{left: -75px;}.popular_course_slider_home3.owl-carousel.owl-theme.owl-loaded .owl-next{right: -75px;}.blog_post_slider_home4.owl-carousel.owl-theme.owl-loaded .owl-prev,.blog_post_slider_home4.owl-carousel.owl-theme.owl-loaded .owl-next{background-color: #d9d9d9;
  color: #0a0a0a;
  height: 50px;
  line-height: 45px;
  position: absolute;
  top: 175px;
  width: 50px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}.blog_post_slider_home4.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.blog_post_slider_home4.owl-carousel.owl-theme.owl-loaded .owl-next:hover{background-color: #3452ff;
  color: #ffffff;}.blog_post_slider_home4.owl-carousel.owl-theme.owl-loaded .owl-prev{left: -90px;}.blog_post_slider_home4.owl-carousel.owl-theme.owl-loaded .owl-next{right: -90px;}.popular_course_slider.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.popular_course_slider.owl-carousel.owl-theme.owl-loaded .owl-next:hover{background-color: #2441e7 !important;
  color: #ffffff;}.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-prev:hover,.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-next:hover{background-color: #c75533 !important;
  color: #ffffff;}.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-prev,.media_slider_home7.owl-carousel.owl-theme.owl-loaded .owl-next{top: 43%;}.color-white{color: #ffffff !important;}.btn{border-radius: 4px;}.btn.dbxshad{-webkit-box-shadow:0px 1px 4px 0px rgba(36, 65, 231, 0.3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:0px 1px 4px 0px rgba(36, 65, 231, 0.3);  /* Firefox 3.5 - 3.6 */
  box-shadow:0px 1px 4px 0px rgba(36, 65, 231, 0.3);}.btn.circle{border-radius: 27px;}.btn.white{background-color: #ffffff;
  color: #2441e7;}.btn:hover,.btn:active,.btn:focus{box-shadow: none;
  outline: none;}.btn-thm{background-color: #2441e7;
  border: 2px solid #2441e7;
  border-radius: 5px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}.btn-thm.rounded{background-color: #2441e7;
  border-radius: 5px;
  color: #ffffff;}.btn-thm:hover,.btn-thm:active,.btn-thm:focus{background-color: #ffffff;
  border-color: #2441e7;
  color: #2441e7;}.btn-thm.white:hover,.btn-thm.white:active,.btn-thm.white:focus{background-color: #2441e7;
  border-color: #2441e7;
  color: #ffffff;}.btn-dark{background-color: #051925;
  border-color: #051925;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  border: 2px solid #051925;}.btn-dark:hover,.btn-dark:active,.btn-dark:focus{background-color: #ffffff;
  border-color: #051925;
  color: #051925;}.btn-transparent{background-color: transparent;
  border-color: #2441e7;
  color: #2441e7;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}.btn-transparent:hover,.btn-transparent:active,.btn-transparent:focus{background-color: #2441e7;
  color: #ffffff;
  border: 2px solid;
  border-color: #2441e7;}.wa{width: auto;}.w100{width: 100% !important;}.db{display: block;}.df{display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;}.dn{display: none;}.p0{padding: 0 !important;}.pt15{padding-top: 15px;}.pt25{padding-top: 25px;}.pt90{padding-top: 90px;}.pb15{padding-bottom: 15px;}.pb15{padding-bottom: 15px;}.pb25{padding-bottom: 25px;}.pl10{padding-left: 10px;}.mt0{margin-top: 0px !important;}.mt15{margin-top: 15px;}.mt20{margin-top: 20px;}.mt25{margin-top: 25px !important;}.mt50{margin-top: 50px;}.mb35{margin-bottom: 35px;}.bg-img2{background-image: url("../images/background/2.jpg");}.bg-img6{background-attachment: scroll;
  background-image: url("../images/background/8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 960px;}section{padding: 60px 0;
  position: relative;}.main-title{position: relative;
  margin-bottom: 60px;}.main-title h3{display: inline-block;
  font-family: "Nunito";
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 0;}.main-title p{margin-bottom: 0;}.preloader{background-color: #ffffff;
  background-image: url("../images/preloader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;}.scrollToHome:hover{color: #ffffff;}.scrollToHome{bottom: 15px;
  color: #ffffff;
  display: none;
  font-size: 24px;
  line-height: 1.5em;
  padding: 3px 10px;
  position: fixed;
  right: 20px;
  text-align: center;
  z-index: 99999;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;}.parallax{background-attachment: scroll;
  background-position: 50% 0px;
  z-index: 1;
  position: relative;}.divider{background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 130px 0;
  position: relative;}.divider:before{background-color: rgba(25, 38, 117, 0.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;}.divider_home1{background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 130px 0;
  position: relative;}.divider_home1:before{background-color: rgba(25, 38, 117, 0.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;}.divider-one h1{font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;}.divider-one .divider-btn{border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  height: 50px;
  line-height: 47px;
  padding: 0 60px;
  font-size: 15px;}.divider-one .divider-btn:hover{border: 2px solid #2441e7;}.divider-one p{margin-bottom: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;}div#countdown .col-xs-6.col-sm-3:first-child{margin-right: 40px;
  text-align: left;
  width: auto;}div#countdown .col-xs-6.col-sm-3{display: inline-block;}canvas{-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;}.chart-container{width: 100%;}.c_container{display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;}.selected_filter_widget{border-style: solid;
  border-width: 2px;
  border-color: rgb(237, 239, 247);
  border-radius: 5px;
  background-color: rgba(243, 243, 246, 0);
  display: inline-block;
  height: auto;
  margin-bottom: 30px;
  padding: 30px 30px 25px;
  position: relative;
  width: 100%;}.tags-bar{background-color: #f0f0f0; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: left;
  padding: 10px;
  position: relative;
  width: 100%;}.tags-bar > span{background-color: #edeff7;
  color: #4f4f4f;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font-size: 13px;
  height: 30px;
  line-height: 55px;
  margin-right: 5px;
  padding: 10px 20px;
  position: relative;
  width: 125px;}.tags-bar > span i{color: #383535;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  height: 16px;
  padding-left: 10px;}#accordion .panel{border: 0;
  border-radius: 0;
  margin-top: 0px;}#accordion a{font-size: 16px;
  display: block;
  text-decoration: none;}body{-webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;}body.translated{-webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);}.content_details{background-color: #fafafa;
  border: 1px solid #dddddd;
  height: 100%;
  left: 0;
  margin-left: -100%;
  overflow-y: scroll;
  padding: 20px 8px;
  position: fixed;
  top: 80px;
  -webkit-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  width: 305px;
  z-index: 9;}.content_details::-webkit-scrollbar{margin-top: 15px;
  margin-right: -10px;
  width: 6px;
  z-index: 3;}.content_details::-webkit-scrollbar *{background:transparent;
  margin-right: -10px;}.content_details::-webkit-scrollbar-track{display: none;}.content_details::-webkit-scrollbar-thumb{background-color: #dfdfdf !important;
  border-radius: 6px;
  margin-right: -10px;}.content_details.is-full-width{left: 0;
  margin-left: 0;
  position: fixed;}.our-blog .read_more_home h4{font-size: 17px;}.filter-option-inner-inner{font-family: "Nunito";
  font-size: 14px;}.btn{font-family: 'Nunito', sans-serif;}.bootstrap-select.show-tick .dropdown-menu li a span.text{font-size: 14px;
    font-family: "Nunito";}.filter-option-inner-inner{padding-top: 2px;}.dropdown-toggle::after{vertical-align:initial;}.card{border: none;}.card-header{background-color: #f9fafc;
  border-bottom: 0px !important;
  margin-bottom: 5px !important;
  border-radius: 5px !important;
  position: relative;}.card-header .btn-link{color: #3b3b3b;
  font-size: 16px;}.dropdown-item.active,.dropdown-item:active{background-color: #2441e7;
    border-radius: 0px;}.dropdown-item{font-size: 14px;
  font-family: 'Nunito', sans-serif;}textarea.form-control{padding: 20px;}